<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>


<main>
  <div class="container">
    <table class = "table-striped" width = "100%">
        <tr style = "font-weight: bold;">
            <td>
                Event Name
            </td>
            <td>
                Event Images
            </td>
            <td>
                Date/Time
            </td>
            <td>
                Bookings
            </td>
        </tr>
        <% events.events.forEach(events =>{ %>
            <tr>
                <td>
                    <a class="nav-link" href="/event?eventID=<%- events.id -%>" method="GET"><%- events.venue.name -%></a>
                </td>
                <td>
                    <%- events.id-%>
                </td>
                <td>
                    <% if (events.performers[0].image == null) { %>
                        <img src = "https://gamepedia.cursecdn.com/lolesports_gamepedia_en/thumb/c/c0/University_of_Colorado_Boulderlogo_square.png/1200px-University_of_Colorado_Boulderlogo_square.png" width = "100" height = "100">
                        <% } %>
                    <% if (events.performers[0].image != null){ %>
                    <img src = "<%- events.performers[0].image -%>" width = "200" height = "200">
                    <% } %>

                </td>
                <td>
                    <%- events.datetime_utc -%> 
                </td>
                <td>
                    <% console.log(events.venue.url); %>
                    <a href ="<%= events.venue.url %>" class="btn btn-primary" type = "button">
                        Book Now
                    </a>
                </td>
            </tr>
        <% }); %>
    </table>

  </div>
</main>

<% include('../partials/footer') %>