<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>


<main>
  <div class="container">
    <table class = "table-striped" width = "100%">
        <tr style = "font-weight: bold;">
            <td>
                Event Name
            </td>
            <td>
                Event Images
            </td>
            <td>
                Date
            </td>
            <td>
                Time
            </td>
            <td>
                Bookings
            </td>
        </tr>
        <% events.forEach(function(event){ %>
            <tr>
                <td>
                    <%- event.name -%>
                </td>
                <td>
                    <% if (event.images[0].url == null) { %>
                        <img src = "https://gamepedia.cursecdn.com/lolesports_gamepedia_en/thumb/c/c0/University_of_Colorado_Boulderlogo_square.png/1200px-University_of_Colorado_Boulderlogo_square.png" width = "100" height = "100">
                        <% } %>
                    <% if (event.images[0].url != null){ %>
                    <img src = "<%- event.images[0].url -%>" width = "200" height = "200">
                    <% } %>

                </td>
                <td>
                    <%- event.dates.start.localDate -%> 
                </td>
                <td>
                    <%- event.dates.start.localTime -%>
                </td>
                <td>
                    <% console.log(event.url); %>
                    <a href ="<%= event.url %>" class="btn btn-primary" type = "button">
                        Book Now
                    </a>
                </td>
            </tr>
        <% }); %>
    </table>

  </div>
</main>

<% include('../partials/footer') %>