<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class = "container-fluid" id = "indEventCont">
        <div class = "container" id = "indEventPic" style = "position:absolute;top:120px; right: 80px; left:20px; height: 200px; width:200px;">
            <img src = "<%-events[0].performers[0].image-%>" height = "200px" width = "200px" alt = "Artist picture">
            <%-user.first_name%>
        </div> 
        <div class = "container" id = "eventHeader">
            <h1><%-events[0].performers[0].name-%></h1>
            <h6><%-events[0].venue.state-%></h6>

            
        </div>
    </div>
    <div class = "container">

        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.js"></script>
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.css" type="text/css">
        <div id="map" style="background-color:#292929; position:absolute;top:60px;right:20px; height: 300px; width:600px;" class="map_canvas-in mapboxgl-map"></div>
        <!-- <div id="map" "></div> -->
        
    
    
       
        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiamFsdTE4OTUiLCJhIjoiY2xveXY4ZnQwMDdncDJrbXN3YTRjeXFzayJ9.hfGiNqW1aIPZpUe0EEG_fg';
        const map = new mapboxgl.Map({
        container: 'map',
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/mapbox/streets-v12',
        center: [-79.4512, 43.6568],
        zoom: 13
        });
        direc = new MapboxDirections({
        accessToken: mapboxgl.accessToken,
        profile : "mapbox/driving"
        });

        map.addControl(
        direc,
        'top-right'
        );
        direc.setOrigin('<%-user.address%>');
        // console.log('<%-user.name %>');
        direc.setDestination('<%-events[0].venue.address%>');
        // console.log(<%=events[0].venue.address %>);

        </script>
    
    </div>
    <div class = "container-fluid">

    </div>
  <div class="container" style="margin-top:200px">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <a href="<%-"/transportation" + "?eventID=" + eID-%>"><button type="submit">looking for a ride?</button></a>
    <form action="<%-"/transportation" + "?eventID=" + eID-%>" method="POST">
      <div class="mb-3">
      </div>
      <button type="submit" value="comment">Want to offer a ride?</button>
    </form>
    <h1>Comments</h1>
    <hr/>
    <div class="overflow-auto">
    <div class="row">
      <div class="col-sm" height="200">
        <% comment.forEach(element => {%>
          <body>
            <a class="nav-link" href="/profile?username=<%=element.username%>"><b><%= element.username%></b></a>
            <%= element.comment %>
          </body>
          <hr/>
        <% }) %>
      </div>
    </div>
  </div>
    <form action="<%-"/event" + "?id=" + events[0].id-%>" method="POST" style="margin-bottom: 120px">
      <div class="mb-3">
        <input type="text" id="comment" name="comment"/>
      </div>
      <button type="submit" value="comment">Submit</button>
      <!-- <div class="form-check">
        <input type="checkbox" id="myCheck" onclick="myFunction()">
        Offering a ride for this event
        <p id="text" style="display:none">Checkbox is CHECKED!</p>
      </div>
      <div class="form-check">
        <input type="checkbox" id="myCheck" onclick="myFunction()">
        Looking for a ride
        <p id="text" style="display:none">Checkbox is CHECKED!</p>
      </div> -->
    </form>
  </div>

</main>

<%- include ('../partials/footer') %>