<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>Comments</h1>
    <hr/>
    <div class="overflow-auto">
    <div class="row">
      <div class="col-sm" height="200">
        <% comment.forEach(element => {%>
          <body><br> <%= element.comment %></body>
          <hr/>
        <% }) %>
      </div>
    </div>
  </div>
    <form action="<%-"/event" + "?eventID=" + eID-%>" method="POST" style="margin-bottom: 120px">
      <div class="mb-3">
        <input type="text" id="comment" name="comment"/>
      </div>
      <button type="submit" value="comment">Submit</button>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>