<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>Comments</h1>
    <hr/>
    <div class="overflow-auto">
    <div class="row">
      <div class="col-sm" height="200">
        <% comment.forEach(element => {%>
          <body><br> <%= element.comment %></body>
          <hr/>
        <% }) %>
      </div>
    </div>
  </div>
    <form action="<%-"/event" + "?eventID=" + eID-%>" method="POST" style="margin-bottom: 120px">
      <div class="mb-3">
        <input type="text" id="comment" name="comment"/>
      </div>
      <button type="submit" value="comment">Submit</button>
    </form>
  </div>
<div class = "container">

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.css" type="text/css">
    <div id="map" style = "width: 400px; height: 200px;position:absolute;top:60px;right:20px;"></div>
    
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiamFsdTE4OTUiLCJhIjoiY2xveXY4ZnQwMDdncDJrbXN3YTRjeXFzayJ9.hfGiNqW1aIPZpUe0EEG_fg';
    const map = new mapboxgl.Map({
    container: 'map',
    // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
    style: 'mapbox://styles/mapbox/streets-v12',
    center: [-79.4512, 43.6568],
    zoom: 13
    });
    
    map.addControl(
    new MapboxDirections({
    accessToken: mapboxgl.accessToken
    }),
    'top-left'
    );
    </script>

</div>

</main>

<%- include ('../partials/footer') %>