<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>

<div class="container rounded bg-grey mt-5 mb-5">
  <div class="row">
      <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src = "<%-user.profile_pic_path%>" alt="Profile Picture"><span class="font-weight-bold"><%-user.username %></span><span class="text-black-50"></span><span> </span></div>
      </div>
      <div class="col-md-5 border-right">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Profile : <%-user.username%></h4>
              </div>
              <div class="row mt-2">
                  <div class="col-md-6"><label class="labels">First Name</label><input type="first_name" id="first_name" name="first_name" class = "form-control" placeholder="<%-user.first_name%>" disabled/></div>
                  <div class="col-md-6"><label class="labels">Last Name</label><input type="last_name" id="last_name" name="last_name" class = "form-control" placeholder = "<%-user.last_name%>" disabled/></div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-12"><label class="labels">Biography</label><input type="bio" id="bio" name="bio" class = "form-control" value = "<%-user.bio-%>" disabled/></div>
                  <div class="col-md-12"><label class="labels">Profile Picture</label><input type="url" id="profilePic" name="profilePic" class = "form-control" value = "<%-user.profile_pic_path-%>" disabled/></div>
                  <div class="col-md-6"><label class="labels">State</label><input type="text" class="form-control" id = "state" name ="state" value = "<%-user.state-%>" disabled></div>
                  <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" id = "Country" name = "Country" value = "<%-user.country-%>" disabled></div>                </div>
              <div class="mt-5 text-center">
                <!-- <a class="btn btn-primary profile-button" href = "/editProfile" role="button">
                  Edit Profile
                </a> -->
            </div>
          </div>
      </div>
      
      <div class="col-md-4">
          <div class="p-3 py-5">
              <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
                <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
                
                <div id="map" style = "background-color:#292929; position:relative;top:15%;right:5%; height: 200px; width:300px;"></div>
                
                <script>
                mapboxgl.accessToken = '<%=process.env.access_token %>';
                const map = new mapboxgl.Map({
                container: 'map',
                // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
                style: 'mapbox://styles/mapbox/streets-v12',
                center: [<%-user.userlat%>,<%-user.userlon%>],
                zoom: 10
                });
                map.addControl(
                new MapboxDirections({
                accessToken: mapboxgl.accessToken
                }),
                'top-left'
                );
                </script>
                
                
                
          </div>
      </div>
  </div>
</div>
</div>
</div>
</main>

<% include('../partials/footer') %>