<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<main>
    <div class = "container" style = "padding-top: 5%;">
      
        <div class = "container">
          <img src = <%-user.profile_pic_path %>  width = "200px" height = "200px"/>
          <div>
            <h1><%- user.username %></h1>
          </div>
        </div>
        
        <div id="accordion" >
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  User Biography
                </button>
              </h5>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <%- user.bio %>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Pinned Events
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                Here Will be a list of pinned events possibly with hrefs to the event page
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Transportation information?
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                List transportation information
              </div>
            </div>
          </div>
        </div>
    </div>
</main>

<% include('../partials/footer') %>