<%- include ('../partials/head') %> <%- include ('../partials/menu') %>

<div class="container" style="margin-top:50px" id="carpool">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <a class="link" href="/event?id=<%=eID%>"><b>Event Page</b></a>
    <h1>Carpool Offers: </h1>
    <hr/>
    <div class="overflow-auto">
    <div class="row">
      <div class="col-sm" height="200">
        <% var arr = new Array() %>
        <% data.forEach(element => {
          arr[element.carid] = element; %>
         <%}); %>
         
        <% arr.forEach(element => {%>
            <body>
              <a class="link" href="/profile?username=<%=element.username%>"><b><%= element.username%></b></a>
              <%= element.currpass %> / <%= element.maxpass %>
            </body>

              <div class="mb-3"  id = "joinCarpool">
                <% if (element.cost != 0) { %>
                  Driver is asking : $<%= element.cost %> for pickup.
                  <% } %>
                </div>
                <% //if(element.pusername0) {%>
                    <%= //element.pusername0%>
                <%///}%>
                <% //if(element.pusername1) {%>
                    <%=//element.pusername1%>
                <% //}%>
                <%// if(element.pusername2) {%>
                    <%= //element.pusername2%>
                <%//}%>
                <% //if(element.pusername3) {%>
                    <%=// element.pusername3%>
                <%//}%>
                <% //if(element.pusername4) {%>
                    <%=// element.pusername4%>
                <%// }%>
                <% if (user == element.pusername0 || user == element.pusername1 || user == element.pusername2 || user == element.pusername3 || user == element.pusername4) { %>
                  <form action="<%-"/transportation" + "?eventID=" + eID + "&username=" + element.username + "&passengerNum=" + element.currpass + "&ct=" + -1%>" method="POST" >
                    <button type="submit" class = "btn btn-danger">Leave</button>
                  </form>
                  <%}
                else if (element.currpass < element.maxpass) { %>
                  <form action="<%-"/transportation" + "?eventID=" + eID + "&username=" + element.username + "&passengerNum=" + element.currpass + "&ct=" + 1%>" method="POST" >              
                    <button type="submit" class = "btn btn-primary">Join</button>
                  </form>
                <% } %>
            <hr/>
          <% }) %>
        </div>
    </div>
</div>
<%- include ('../partials/footer') %>