<%- include ('../partials/head') %> <%- include ('../partials/menu') %>

<div class="container" style="margin-top:50px">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>Carpool Offers</h1>
    <hr/>
    <div class="overflow-auto">
    <div class="row">
      <div class="col-sm" height="200">
        <% data.forEach(element => {%>
            <body>
              <a class="link" href="/profile?username=<%=element.username%>"><b><%= element.username%></b></a>
              <%= element.currpass %> / <%= element.numpass %>
            </body>
            <form action="<%-"/transportation" + "?eventID=" + eID + "&username=" + element.username %>" method="POST" style="margin-bottom: 120px">
                <div class="mb-3">
                </div>
                <button type="submit" >Join</button>
              </form>
            <hr/>
          <% }) %>
        </div>
    </div>
</div>
<%- include ('../partials/footer') %>