<%- include ('../partials/head') %> <%- include ('../partials/menu') %>

<div class="container" style="margin-top:50px">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>Carpool Offers</h1>
    <hr/>
    <div class="overflow-auto">
    <div class="row">
      <div class="col-sm" height="200">
        <% car.forEach(element => {%>
            <body>
              <a class="link" href="/profile?username=<%=element.username%>"><b><%= element.username%></b></a>
              <%= element.numPass %>
              <%= element.currPass %>
              <%= element.currPass %>
            </body>
            <hr/>
          <% }) %>
        </div>
    </div>
</div>
<%- include ('../partials/footer') %>