<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>

    <div class="container rounded bg-grey mt-5 mb-5">
      <div class="row">
          <div class="col-md-3 profile-pic">
              <div class=" text-center"><img class="rounded-circle mt-5" width="150px" src = "<%-user.profile_pic_path%>" alt="Profile Picture"></div>
          </div>
          <div class="col-md-5 border-right profile-info">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                      <h4 class="text-right"><b>User Profile</b> : <%-user.username%></h4>
                  </div>
                  <div class="row mt-2">
                      <div class="col-md-6"><label class="labels">First Name</label><input type="first_name" id="first_name" name="first_name" class = "form-control" placeholder="<%-user.first_name%>" disabled/></div>
                      <div class="col-md-6"><label class="labels">Last Name</label><input type="last_name" id="last_name" name="last_name" class = "form-control" placeholder = "<%-user.last_name%>" disabled/></div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-md-12"><label class="labels">Email</label><input type="text" id="email" name="email" class = "form-control" value = "<%-user.email-%>" disabled/></div>
                      <div class="col-md-12"><label class="labels">Biography</label><input type="bio" id="bio" name="bio" class = "form-control" value = "<%-user.bio-%>" disabled/></div>
                      <div class="col-md-12"><label class="labels">Profile Picture</label><input type="url" id="profilePic" name="profilePic" class = "form-control" value = "<%-user.profile_pic_path-%>" disabled/></div>
                      <div class="col-md-6"><label class="labels">Address</label><input type="address" required class="form-control" id = "address" name = "address" value = "<%-user.address -%>" disabled></div>
                      <div class="col-md-6"><label class="labels">State</label><input type="text" class="form-control" id = "state" name ="state" value = "<%-user.state-%>" disabled></div>
                      <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" id = "Country" name = "Country" value = "<%-user.country-%>" disabled></div>
                      <div class="col-md-6"><a class="btn btn-primary profile-button" href = "/editProfile" role="button" style="position: relative; top: 1.5rem; width: 100%">Edit Profile</a></div>
                  </div>
          </div>
          
          <div class="col-md-4" style="position: relative; right: 14rem;">
                  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
                    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
                    
                    <div id="map" style = "background-color:#292929; position:relative;top: -2rem;left: 0rem; height: 400px; width:522px;"></div>
                    
                    <script>
                    mapboxgl.accessToken = '<%=process.env.access_token %>';
                    const map = new mapboxgl.Map({
                    container: 'map',
                    // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
                    style: 'mapbox://styles/mapbox/streets-v12',
                    center: [<%-user.userlat%>,<%-user.userlon%>],
                    zoom: 10
                    });
                    map.addControl(
                    new MapboxDirections({
                    accessToken: mapboxgl.accessToken
                    }),
                    'top-left'
                    );
                    </script>
                    
                    
                    

          </div>
      </div>
    </div>
    </div>
    <div class="container" style="position:relative; max-width: 1600; max-height: 350px">
        <div class="row" style="position:relative; top: -5rem; max-height: 400px">
            <div class="col-md-6 car-column">
                <% if (carData && carData.length > 0) { %>
                <h2>Rides</h2>
                <div class = "row row-cols-1 row-cols-md-3 car-container">
                    <% carData.forEach((car) => { %>
                      <%date0 = new Date(car.datetimeUtc);%>
                      <%date0 = date0.toString();%>
                      <%myDate0 = "";%>
                      <%counter1 = 0;%>
                      <%for (var i = 0; i < date0.length; i++)
                      {
                        if (counter1 < 3){
                          if (date0[i] == ' ')
                          {
                            counter1++;

                            if (counter1 == 32)
                            {                                     
                              myDate0 += ", ";
                            }
                            else
                            {
                              myDate0 += ' ';
                            }
                          }
                          else
                          {
                            myDate0 += date0[i];
                          }
                        }
                        else break;
                      }%>
                        <div class="card mb-3 car-card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="nav-link" style="font-size: 30px" href="/profile?username=<%=car.username%>"><%= car.username %></a></h5>
                                    <a class="link" href="/event?id=<%= car.eventid %>"><h6><%= car.performer %></h6></a>
                                    <p style="margin-top: -10px;"><%= car.venue%></p>
                                    <p style="margin-top: -20px;"><%= myDate0%></p>
                                  <p class="card-text">  
                                      Current Passengers: <%= car.currpass %> / <%= car.maxpass %>
                                  </p>
                                  <div class="mb-3">
                                    <h6>Riders:</h6>
                                    <% for(let i = 0; i < 5; i++){ %>
                                        <% if (car[`pusername${i}`] != null && car[`pusername${i}`] !== ''){ %>
                                            <a class="nav-link" href="/profile?username=<%= car[`pusername${i}`] %>">
                                                <b><%= car[`pusername${i}`] %></b>
                                            </a><br>
                                        <% } %>
                                    <% } %>
                                </div>
                            </div>
                            <div class="card-footer">
                                <% if (user.username == car.username) { %>
                                <form action="<%-"/removeCar" + "?carID=" + car.carid + "&eventID=" + car.eventid+ "&page=" + true%>"  method="POST" >
                                        <button type="submit" class="btn btn-danger">Delete Offer</button>
                                    </form>
                                <% } else if (user.username == car.pusername0 || user.username == car.pusername1 || user == car.pusername2 || user.username == car.pusername3 || user.username == car.pusername4) { %>
                                    <form action="<%-"/transportation/leave" + "?eventID=" + car.eventid + "&username=" + car.username + "&passengerNum=" + car.currpass + "&ct=" + -1 + "&carID=" + car.carID + "&page=" + true%>" method="POST" >
                                        <button type="submit" class="btn btn-danger">Leave</button>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    <% }); %>
                </div>  
                <% } else { %>
                <% } %>
            </div>
            <div class="col-md-6 comment-column">
                <% if (commentsData && commentsData.length > 0) { %>
                  <h2>Comments</h2>
                  <div class="comments-container">
                    <% commentsData.forEach((comment) => { %>
                      <div class="comment-card">
                        <p>
                          <a class="link" href="/event?id=<%= comment.eventid %>" style="color: rgb(68, 68, 68); font-weight: 700; text-decoration: none">
                            <b><%= comment.performer %>: </b>
                          </a>
                          <%= comment.comment %>
                        </p>
                        <form action="/removeComment?commentID=<%= comment.commentid %>&eventID=<%= comment.eventid %>&page=<%= true %>" style="float: right" method="POST">
                          <button type="submit" class="btn btn-danger">Remove Comment</button>
                        </form>
                      </div>
                    <% }); %>
                  </div>
                <% } %>
            </div>
        </div>
    </div>
    </div>
    </main>

    <% include('../partials/footer') %>